.containerDetailPage {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.detailPage {
    text-align: center;
}

.containerDetailPage p {
    text-align: left;
}

.details {
    display: grid;
    grid-template: repeat(5, 2rem) / 1fr 1fr;
}

.details p:nth-child(even) {
    grid-column: 2;
}

.details p:nth-child(odd) {
    grid-column: 1;
    font-weight: bold;
}

.details button {
    grid-column: 2 span;
    grid-row: 5;
}