header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 3%;
}

header img {
    height: 70px;
    width: auto;
}

header h1 {
    padding-left: 20px;
}